body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0; padding:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:400; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:400; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
body { background: #EEE url(http://grou.ps/images/body_bg.png); color: #444; font: normal 12px arial, helvetica, sans-serif; margin: 0; }
a { color: #36C; }
a:hover { color: #06F; }
#layout { z-index:1; width: 990px; margin: 0 auto 0 auto; background: url(http://grou.ps/images/bt.png); }
input, select, option, textarea, button { padding: 2px; font: 12px arial, helvetica, sans-serif; color: #444; background: #fff; border: 1px solid #C4C4C4; }
input[type=button], input[type=submit], button { padding: 2px 5px; font: 12px arial, helvetica, sans-serif; color: #fff; background: #1B7BAD; border-width: 1px; border-style: solid; border-color: #006CA3; cursor: pointer; }
select, option { padding: 0; }
#header { clear: both; width: 970px; text-align: left; background: #fff; margin: 0 auto 0 auto; }
#h1 a { text-indent: -9999px; display: block; background: url(http://grou.ps/images/groups_logo.png) no-repeat; width: 389px; height: 86px; }
#h1_sub a { display: none; }
#menu { clear: both; width: 970px; margin: 0 auto; height: 36px; }
#nav { margin: 0 0 0 200px; padding: 0; list-style: none; clear: both; }
#nav li.selected a { color: #000; }
#nav li { display:inline; margin:0; padding:0; }
#nav li a { color: #000; float: left; text-align: left; text-decoration: none; padding:0; width: 80px; }
#nav li a:hover { text-decoration:underline; }
#nav li a#nav_left_sub { padding:0; width:20px; background: transparent url(http://grou.ps/templates/tpl/groups/images/nav_left_on.png) no-repeat top left; height: 36px; }
.box_top { width:auto; line-height: 32px; font-size: 1.4em; font-weight: bold; letter-spacing: -1px; padding-left: 10px; color: #006598; }
.box_top a { color: #006598; }
#footer { clear: both; color: #000000; font-size: 0.9em; padding-bottom: 12px; text-align: center; padding-top: 12px; }
#footer a { color: #0B6899; }
#infoBar { float: right; color: #818080; margin: 30px 10px 0 0; font-size: 11px; }
#infoBar a { color: #818080; text-decoration: none; }
#infoBar #myTwitter { margin-top: 3px; width: 400px; display: none; }
#infoBar #myTwitter div { background: url(http://grou.ps/images/twitter-ico.png) no-repeat; padding-left: 20px; }
#infoBar #myAccount { padding-left: 20px; }

#content { width:970px; margin:0 auto 0 auto; padding:15px 0 0 0; clear: both; background: #fff; }
#content .col_full { float:left; position:relative; left:0; width:100%; margin-bottom:0; background: #fff; }
#content .col_left { float:left; position:relative; width:50%; background: #fff; }
#content .col_right { float:left; position:relative; width:50%; background: #fff; }
#content .col_main { float:left; position:relative; width:80%; background: #fff; }
#content .col_side { float:left; position:relative; width:20%; background: #fff; }
#content .box { width:auto; margin-bottom:15px; text-align: left; color: #555533; background: #fff; border: 1px solid #EEEEEE; }
#content .col_left .box { margin-right:8px; }
#content .col_right .box { margin-left:8px; }
#content .col_left .box_mid_ops { margin-right:8px; }
#content .col_right .box_mid_ops { margin-left:8px; }
#content .col_main .box { margin-right:8px; }
#content .col_side .box { margin-left:8px; }
#content .col_main .box_mid_ops { margin-right:8px; }
#content .col_side .box_mid_ops { margin-left:8px; }
#content .box_subtitle { height:17px; padding:3px 9px 3px 10px; margin: 0 10px 0 10px; background: #F6F5F7; }
#content .box_subtitle a { color: #ccc; }
#content .box_subtitle .box_subtitle_info { float:left; font-size: 10px; color: #ccc; font-family: arial, sans-serif; }
#content .box_subtitle .box_subtitle_operations { float:right; }
#content .box_mid { width:100%; margin:10px 0 0 0; padding:0; }
#content .box_mid .content { overflow:hidden; margin:10px; padding:0; }
#content .box_mid .content p { margin-left:0; margin-right:0; padding:0; }
#content .box_mid .userdependent { overflow-x:auto; margin:10px; padding:0; }
#content .box_mid_ops { width:auto; margin-bottom:15px; color: #fff; background: #D80404 url(http://grou.ps/templates/tpl/groups/images/ops_box.png) repeat-x; border: 1px solid #D80404; }
#content .box_mid_ops .content { font-weight:700; overflow:hidden; padding:10px; }
#content .box_mid_ops a { color: #fff; }
#content .box_bottom_ops { display:none; }
#content .box_bottom { display:none; }

#busy_popup { width:40px; height:40px; background-color:transparent; background-image:url(http://grou.ps/images/loading.gif); position:absolute; z-index:100; visibility:hidden; }
#toplevel_warning { border-bottom-color:#000; border-bottom-style:solid; border-bottom-width:2px; background-color:#999; background-image:url(img/ajaxpopupbg.gif); visibility:hidden; position:absolute; text-align:center; z-index:100; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
-moz-opacity:0.95; -khtml-opacity:0.95; opacity:0.95; font-size:13px; font-family:Trebuchet MS, Sans, Arial, Helvetica, Verdana; color:#fff; font-weight:700; left:0; top:0; overflow:hidden; padding:12px; }
#toplevel_warning a { font-size:13px; font-family:Trebuchet MS, Sans, Arial, Helvetica, Verdana; color:#FF0; font-weight:700; }
#toplevel_warning a:HOVER { background-color:#FF0; color:#000; text-decoration:none; }
#bg_differentiation { position:absolute; z-index:99; display:none; width:100%; background-image:url(http://grou.ps/images/overlay.png); }
* html #bg_differentiation { background-color:#333; back\ground-color:transparent; background-image:url(http://grou.ps/images/blank.gif); filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://grou.ps/images/overlay.png", sizingMethod="scale");
}
#theCrop { background-color:#FFFFE0; position:absolute; visibility:hidden; z-index:101; width:80px; height:80px; border-color:#000; border-style:solid; border-width:1px; }
a.closeButton { display:block; float:right; height:12px; width:12px; background:transparent url(http://grou.ps/images/close_duo.gif) no-repeat top left; text-decoration:none; }
a.closeButton:hover { background:transparent url(http://grou.ps/images/close_duo.gif) no-repeat 0 -12px; }
.tooltip { position:absolute; width:250px; height:75px; background-image:url(http://grou.ps/images/tooltip_bg.png); font-size:11px; visibility:hidden; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
-moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; overflow:hidden; border-color:#000; border-style:solid; border-width:1px; margin:0; padding:5px; }
/*grou.ps*/
.nav { display:block; height:44px; font-size:14px; font-weight:bold; background:transparent url(http://www.grou.ps/images/bg_off.gif) repeat-x top left; font-family:Arial, Verdana, Helvitica, sans-serif; }
.nav_right { background: transparent url(http://www.grou.ps/images/nav_right.png) no-repeat scroll left top; height: 44px; width: 20px; float: right; }
.nav ul { margin:0; padding:0; list-style-type:none; width:auto; }
.nav ul li { display:block; float:left; margin:0; }
.nav ul li a { display:block; float:left; color:#000; text-decoration:none; padding:12px 20px 0 20px; height:44px; }
.nav ul li a:hover, .nav ul li a.current { color:#fff; background:transparent url(http://www.grou.ps/images/bg_on.gif) repeat-x top left; }